name: Build & Release Node.js Docker Image

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_TAG: ${{ github.event.release.tag_name }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Debug variables
        run: |
          echo "REGISTRY=$REGISTRY"
          echo "IMAGE_NAME=$IMAGE_NAME"
          echo "IMAGE_TAG=$IMAGE_TAG"

      - name: Log in to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login $REGISTRY -u sachin-appristine --password-stdin

      - name: Build Docker image
        run: |
          docker build \
            -t ghcr.io/${IMAGE_NAME}:${IMAGE_TAG} \
            -t ghcr.io/${IMAGE_NAME}:latest \
            .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${IMAGE_NAME}:${IMAGE_TAG}
          docker push ghcr.io/${IMAGE_NAME}:latest
